/*RESET*/
* {
    max-width: 100vw;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none; /* standard */
    -moz-user-select: none; /* firefox specific */
    -webkit-user-select: none; /* Chrome, Opera and Safari*/
    -ms-user-select: none; /* IE, ms-edge */
}


/*MAIN COLORS AND OTHER*/
:root {
    --color-accent-text: #8bd9ff;
    --color-text: #d2f0ff;
    --color-h1:white;
    --color-h1-blue:#0050FF;
    --color-h1-pink:#C22085;
}
/*WILL CHANGE*/
.content__main, .logo, .scroll__down, .hd, .txt_l, .txt_r, .photo, .hd_R, .about_left, .about_mid, .about_right {
    will-change: transform;
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Montserrat-Italic;
    src: url(fonts/Montserrat-Italic.ttf);
}
html {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    font-size: calc(100vw / 700 * 10); }
@media (max-width: 1024px) {
    html {
        font-size: calc(100vw / 1920 * 10); } }
@media (max-width: 600px) {
    html {
        font-size: calc(100vw / 700 * 10); }
}


body{
    background-image: url("img/bg.jpg");
    width: 100vw;
    /*min-height: 100vh;*/
    overflow-x: hidden;
    user-select: none; /* standard */
    -moz-user-select: none; /* firefox specific */
    -webkit-user-select: none; /* Chrome, Opera and Safari*/
    -ms-user-select: none; /* IE, ms-edge */
}
body > *{
    user-select: none; /* standard */
    -moz-user-select: none; /* firefox specific */
    -webkit-user-select: none; /* Chrome, Opera and Safari*/
    -ms-user-select: none; /* IE, ms-edge */
}
.content__main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    /*height: 100vh;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background-color: #0050FF;*/
}

.alert{
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
}
.alert > h1{
    text-align: center;
    font-family: Montserrat-Medium;
    color: var(--color-h1);
    font-size: 4rem;
}


.logo{
    width: 80vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: rebeccapurple;*/
}
.logo > img{
    width: 50rem;
    height: 50rem;
}
.scroll__down{
    max-width: 80vw;
    max-height: 7vh;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.scroll__down > img{
    margin-top: 2rem;
    width: 10rem;
    height: 10rem;

    animation: arrow 2s linear infinite;
}


.tmp{
    /*height: 900vh;*/
    width: 100vh;
    /*background-color: rebeccapurple;*/
}
.tmp > h1{
    max-width: 10vw;
    margin-left: 4vw;
    margin-top: 50vw;

    color: var(--color-h1);
    font-size: 15rem;
    font-family: Montserrat-Bold;

}

.portfolio_right{
    position: relative;
    margin-top: 40rem;
    width: 100vw;
    height: 60vh;
    /*background-color: aqua;*/
}
.portfolio_left{
    /*background-color: bisque;*/
    position: relative;
    height: 60vh;
    margin-top: 40rem;
    width: 100vw;
}
.portfolio_left > img{
    position: absolute;
    left: 4vw;
}

.portfolio_right > img{
    position: absolute;
    right: 4vw;
}

.photo{
    width: 35rem;

    border-radius: 50%;
    background-color: white;
    user-select: none;

    z-index: 3;
}
.txt_l{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 80vw;
    left: 4vw;
    top: 30vh;
}
.txt_r{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: right;
    max-width: 80vw;
    right: 4vw;
    top: 30vh;
    text-align: right;
}
.txt_r > div{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: 5rem;
}
.txt_r > div > img{
   margin-left: 5rem;
}

.txt_l > div{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 5rem;
}
.txt_l > div > img{
    margin-right: 5rem;
}

.name{
    font-size: 9rem;
    color: var(--color-h1);
    font-family: Montserrat-Bold;
}
.about_person{
    color: var(--color-text);
    font-size: 5rem;
    font-family: Montserrat-Medium;
}
.about_person_quote{
    margin-top: 3rem;
    color: var(--color-accent-text);
    font-size: 3rem;
    font-family: Montserrat-Italic;
}

.about_us{
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    width: 100vw;
    /*height: 100vh;*/
    /*background-color: aqua;*/
}
.about_us > h1{
    max-width: 92vw;
    margin-left: 4vw;
    margin-top: 50vw;
    text-align: right;

    color: var(--color-h1);
    font-size: 15rem;
    font-family: Montserrat-Bold;

}

.about_wrapper{
    /*overflow-y: hidden;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 90vw;
    /*height: 200vh;*/
    margin-top: 20rem;

    padding-left: 4vw;
    padding-right: 4vw;
}
/*.about_left{*/
/*    width: 44.5vw;*/
/*    height: 200vh;*/
/*}*/
/*.about_mid{*/
/*    width: 1vw;*/
/*    background-color: white;*/
/*    height: 200vh;*/
/*}*/
/*.about_right{*/
/*    width: 44.5vw;*/
/*    height: 200vh;*/
/*}*/

.about__block{
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 95vw;

    letter-spacing: 1rem;
}

.about_left, .about_right{
    width: 47vw;
    color: white;
    font-size: 3rem;
    font-family: Montserrat-Regular;

    /*padding: 1vw;*/
}
.about_mid{
    position: absolute;
    left:49.5%;
    right:49.5%;
    top:0;
    bottom:0;
    background-color: white;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_right{
    padding-top: 5rem;
    padding-left: 3rem;

    text-align: left;
    /*background-color: white;*/
}
.about_left{
    padding-top: 5rem;
    padding-right: 3rem;

    text-align: right;
    /*background-color: rebeccapurple;*/
}

/*ВРЕМЯНКА*/
/*.header, .about_us, .tmp{*/
/*    display: none;*/
/*}*/



.projects{
    width: 90vw;
    height: 240vh;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
    /*background-color: rebeccapurple;*/
}
.projects > h1{
    max-width: 92vw;
    margin-left: 4vw;
    margin-top: 50vw;
    text-align: right;


    color: var(--color-h1);
    font-size: 10rem;
    font-family: Montserrat-Bold;
}

.projects__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%;
    width: 90vw;
    /*background-color: white;*/
    border-radius: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

    border-top: 0.5rem solid white;
    border-bottom: 0.5rem solid white;

    margin-top: 10rem;
}

#fst{

}

.projects__block > img{
    width: 100%;
    margin-top: 5rem;
    border-radius: 5rem;
    /*box-shadow: 10px 5px 5px white;*/
}

.projects__block > h1{
    font-size: 7rem;
    font-family: Montserrat-Regular;
    color: var(--color-h1);
}
.projects__block > a{
    margin-top: 5rem;
    text-align: center;
    font-size: 4rem;
    font-family: Montserrat-Regular;
    color: var(--color-h1);
}


.big-a{
    font-size: 17rem;
}



.ft-h{
    width: 100vw;
    /*background-color: #0050FF;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    /*background-color: green;*/
}
.foot > h1{
    margin-left: 3rem;
    color: var(--color-h1);
    font-family: Montserrat-ExtraBold;
    font-size: 10rem;
}


.small-h{
    color: var(--color-h1-blue);
    font-size: 5rem;
}
.ft__marg{
    margin-left: 10rem;
}